body { 
  text-align: center;
  font-weight: bold;
  background-color: white;
  font-family: Prompt;
}

main { 
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.philosophy-container {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 100px;
}

.philosophy {
  margin-top: 4em;
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
  max-width: 850px;
  margin: 0 auto;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px; 
}

.articleOne {
  grid-column: 1;
}

.articleTwo {
  grid-column: 2;
}

.container {
  padding: 2px 16px;
}

#mylogo {
  position: absolute;
  left:5px;
  top:5;
  height: 70px;
  width: 240px;
}

#root {
  min-height: 100%;
  text-align: center;
  margin-top: 8em;
  margin-bottom: 8em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red; 
  text-shadow:0 0 5px rgba(0, 0, 0, 0.8);
  transition: text-shadow 0.4s ease-in-out;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 5.3em;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  text-decoration: none;
  font-family: Prompt;
  font-style: italic;
  color: black;
}
  
nav ul {
  list-style-type: none;
  margin: 0;
}
  
nav li {
  display: inline;
  margin-right: 25px;
}
  
nav a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: black;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transition: text-shadow 0.4s ease;
}

nav a:visited {
  color: black;
  text-decoration: none;
  font-size: 1.13em;
}

.navbar-nav .nav-link:hover {
  font-size: 1.1rem;
}

h1 {
  text-align: center;
  color: black;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 35px;
}

  img {
  width: 75%; 
  display: block; 
  margin: auto;
  border-radius: 15%;
}

.btn {
  background-color: black;
  border-color: black;
  color: white;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: white;
  border-color: black;
  color: black;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transition: background-color 1s ease;
}

.form-control {
  text-align: center;
}
  
  
.col-md-4 {
  max-width: 450px;
  margin: 10 auto;
  padding: .25rem;
  font-size: 1.3rem;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  width: 100%;
  height: 3em;
  line-height: 1em !important;
  background: white;
  color: black !important;
  font-size: 1em;
}