h1 {
    text-align: center;
    color: cornflowerblue;
  }

  body { 
    text-align: center; 
}

  img {
    width: 25%; 
    display: block; 
    margin: auto;
}

.btn {
    background-color: blueviolet;
}